.articlesPage {
    display: flex;
    flex-direction: column;
}
.articleWrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.articleBlock {
    flex: 0 1 18%;
    margin-top: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.button {
    margin: 0 auto;
}

.dropbtn {
    background-color: #4caf50;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdowncontent {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    max-height: 200px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdowncontent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdowncontent a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdowncontent {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.but {
    background-color: rgb(5, 141, 141);
}