.block {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    flex-grow:1;
}
.block img {
    width: 350px;
    height: 200px;
    border-radius: 10px;
}
.block .name {
    font-weight: bold;
    font-size: 28px;
}

